
$base-color: rgb(33, 37, 34);
$secondary-color: rgb(94, 189, 118);

.wrapperView {
    flex: 1;
}

.inlineView {
    padding-top: 16;
    padding-bottom: 56;
}

.scrollView {
     padding: 20px;
}

.text {
    color: $base-color;
    font-weight: bold;
    font-size: 18;
    margin-top:25px
}

.textInput {
    box-sizing: border-box;
    border: 1px solid $base-color;
    border-radius: 25px;
    margin-top: 6px;
    margin-bottom: 0;
    max-height: 220;
}

.roundButton {
    top: 15px;
    border-width: 1px;
    border-color: rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: $secondary-color;
    border-radius: 50px;
    margin-left: auto;
}

.dropdown {
    width: 150px;
}

.addRecipeButton {
    top: 15px;
    border-width: 1px;
    border-color: rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 65px;
    background-color: $secondary-color;
    border-radius: 50px;
    margin: auto;
}

.textButton {
    color: white;
    font-size: 18;
    font-weight: bold;
}